.currentCourses__input {
    position: relative;
    bottom: 0;
    border: 1px solid #999;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
                10px 10px 15px rgba(0, 0, 0, 0.1),
                inset 1px 1px 2px #fff;
    padding: 5px;
    transition: all 0.5s;
    &:hover {
        bottom: 5px;
    }
}
.currentCourses__item {
    margin-bottom: 20px;
}
.current-display {
    display: flex;
    width: fit-content;
    margin: 0 auto;flex-direction: column;
    gap: 10px;
    font-size: 1.5em;
}
.current-display__item {
    
    span {
        font-size: 1.7em;
        margin-left: 40px;
    }
}