.header {
  padding: 20px 0;
  font-size: 1.2em;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  gap: 20px;
}

.header__nav-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__nav-link {
  position: relative;
  bottom: 0;
  text-decoration: none;
  color: #666;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__nav-link:hover {
  bottom: 5px;
  color: #1c1199;
  text-shadow: 1px 1px 1px #fff;
}