.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  background-image: url("./images/app/currency.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  box-sizing: border-box;
}

.errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(87, 26, 26, 0.5);
  color: red;
  width: fit-content;
  font-size: 40px;
}

.errorRecomendations {
  width: fit-content;
  font-size: 20px;
  margin-top: 20px;
}
