$mainColor: rgb(28, 17, 153);
$text-shasow: 1px 1px 1px #fff;

@mixin textColorStyle {
    color: $mainColor;
    text-shadow: $text-shasow;
}


.wrap {
    padding: 0;
}
.converter__item {
    margin-bottom: 30px;
}
.converter__field-description {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #666;
}
.converter__input,
.converter__calc-button {
    position: relative;
    bottom: 0;
    border: 1px solid #999;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
                10px 10px 15px rgba(0, 0, 0, 0.1),
                inset 1px 1px 2px #fff;
    padding: 5px;
    transition: all 0.5s;
    &:hover {
        bottom: 5px;
    }
}
.converter__input_sum {
    width: 100px;
}
.converter__input_sum-larger {
    width: 250px;
}
.converter__calc-button {
    font-size: 1.1em;
    margin-bottom: 15px;
    @include textColorStyle();
    border-radius: 5px;
    text-transform: uppercase;
}
.converter__result {
    display: flex;
    width: fit-content;
    margin: 0 auto;flex-direction: column;
    gap: 10px;
    font-size: 1.5em;
    word-spacing: 10px;
    @include textColorStyle();
    line-height: 1.5em;
}

.converter__description-field {
    margin-right: 10px;
    font-size: 1.1em;
    @include textColorStyle();
}
.converter__description-field_sum {
    display: inline-block;
    padding: 10px 0;
}

.converter__item_from-to-exchange {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}

.converter__description-field_to {
    margin-left: 10px;
}
.converter__error-result {
    background-color: rgba(87, 26, 26, 0.5);
    color: red;
    width: fit-content;
    font-size: 1.1em;
    padding: 20px;
    margin: 0 auto;
}